<h1 class="m-3">Contacts App</h1>
<input
  class="btn btn-success btn-sm m-2"
  *ngIf="!isInCreationState"
  type="button"
  value="New"
  (click)="createUser()"
/>

<create-user-form 
  *ngIf="isInCreationState" 
  (onSubmit)="onUserCreated($event)"
  (onCancel)="onFormCanceled()"
>
</create-user-form>

<edit-user-form
  *ngIf="isInEditingState"
  [user]="editedUser!"
  (onSubmit)="onUserEdited($event)"
  (onCancel)="onFormCanceled()"
>
</edit-user-form>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>
        <input
          class="btn btn-primary btn-sm"
          type="button"
          value="Edit"
          (click)="editUser(user)"
        />
      </td>
      <td>
        <input
          class="btn btn-danger btn-sm"
          type="button"
          value="Delete"
          (click)="deleteUser(user)"
        />
      </td>
    </tr>
  </tbody>
</table>
